@font-face{
	font-family: font1;
	src: url("../fonts/genshin.ttf");
}
body{
	font-family: font1;
	margin: 0;
}
a{
	text-decoration-line: none;
	color: white;
}
#header{
	position: sticky;
	text-align: center;
	top: 0;
	left: 0;
	right: 0;
	height: 100px;
	background-color: rgba(87, 108, 188, 1.0);
	color: white;
	z-index: 1000;
}
#header .logo{
	vertical-align: middle;
	padding: 10px;
	height: 80px;
	width: 80px;
	border-radius: 50px;
	display: inline-block;
}
#header .logo img{
	height: 100%;
	width: 100%;
	border-radius: 50px;
}
#header .name{
	display: inline-block;
	vertical-align: middle;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 30px;
}
#header .menu{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 100px;
	height: 100px;
	width: 100px;
	display: inline-block;
}
#header .menu .mini-menu{
	position: absolute;
	display: block;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	left: 100%;
	opacity: 0;
	vertical-align: middle;
	transition-duration: 500ms;
}
#header .menu img{
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	left: 0;
	padding: 10px;
	height: 80px;
	width: 80px;
	transition-duration: 500ms;
}
#header .menu:hover{
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	height: 100px;
	width: 200px;
	display: inline-block;
	transition-duration: 500ms;
}
#header .menu:hover .mini-menu{
	display: inline-block;
	vertical-align: middle;
	left: 0;
	right: 100%;
	font-size: 22px;
	padding: 0;
	height: 60px;
	width: 300px;
	top: 50px;
	opacity: 100%;
	transform: translateY(-50%);
	background-color: rgba(25, 55, 109, 0.5);
	border-radius: 10px;
	transition-duration: 500ms;
}
#header .menu .mini-menu .button1{
	width: 300px;
	transition-duration: 200ms;
}
#header .menu .mini-menu .button1:hover{
	width: 300px;
	background-color: rgba(87, 108, 188, 0.5);
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition-duration: 200ms;
}
#header .menu .mini-menu .button1 img{
	display: inline-block;
	left: 20%;
	height: 30px;
	width: 30px;
}
#header .menu:hover .mini-menu .button1 img{
	display: inline-block;
	left: 10%;
	padding: 0;
	transform: rotate(0);
	transition-duration: 500ms;
}
#header .menu .mini-menu .button2{
	width: 300px;
	transition-duration: 200ms;
}
#header .menu .mini-menu .button2:hover{
	width: 300px;
	background-color: rgba(87, 108, 188, 0.5);
	border-radius: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	transition-duration: 200ms;
}
#header .menu .mini-menu .button2 img{
	display: inline-block;
	left: 20%;
	height: 30px;
	width: 30px;
}
#header .menu:hover .mini-menu .button2 img{
	display: inline-block;
	left: 10%;
	padding: 0;
	transform: rotate(0);
	transition-duration: 500ms;
}
#header .menu:hover img{
	display: inline-block;
	vertical-align: middle;
	left: 130%;
	padding: 15px;
	height: 70px;
	width: 70px;
	transform: rotate(-90deg);
	transition-duration: 500ms;
}
#content{
	
}
#content .line{
	position: relative;
	height: 1200px;
	width: 1300px;
	margin-top: 25px;
	margin-bottom: 25px;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 50px;
	background-color: rgba(165, 215, 232, 1.0);
	text-align: center;
}
#content .line .topics{
	position: relative;
	padding: 50px;
	height: 100px;
	width: 1100px;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	border-radius: 10px;
}
#content .line .topics .small-text{
	font-size: 17px;
}
#content .line .topics .topic1{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic1 .big-text{
	position: absolute;
	font-size: 22px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#content .line .topics .topic1 .small-text{
	position: absolute;
	display: block;
	width: 400px;
	opacity: 0;
    z-index: 1;
    transform: translateY(80%);
    transition-duration: 500ms;
}
#content .line .topics .topic1:hover{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(11, 36, 71, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic1:hover .small-text{
	position: absolute;
	display: block;
	opacity: 1;
	width: 400px;
	font-size: 17px;
    z-index: 100;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;
	transition-duration: 500ms;
}
#content .line .topics .topic2{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;

}
#content .line .topics .topic2 .big-text{
	position: absolute;
	font-size: 22px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#content .line .topics .topic2 .small-text{
	position: absolute;
	display: block;	
	width: 400px;
	right: 50%;
	transform: translateX(25%);
	opacity: 0;
	z-index: 1;
	right: 50%;
	transform: translateX(25%) translateY(80%);
    transition-duration: 500ms;
}
#content .line .topics .topic2:hover{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(11, 36, 71, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic2:hover .small-text{
	position: absolute;
	display: block;
	opacity: 1;
	width: 400px;
	font-size: 18px;
    z-index: 100;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;    
	transition-duration: 500ms;
}
#content .line .topics .topic3{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;

}
#content .line .topics .topic3 .big-text{
	position: absolute;
	font-size: 22px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#content .line .topics .topic3 .small-text{
	position: absolute;
	display: block;
	width: 400px;
	opacity: 0;
	z-index: 1;
    transform: translateY(70%);
	transition-duration: 500ms;
}
#content .line .topics .topic3:hover{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(11, 36, 71, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic3:hover .small-text{
	position: absolute;
	display: block;
	opacity: 1;
	width: 400px;
	font-size: 16px;
    z-index: 100;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;
	transition-duration: 500ms;
}
#content .line .topics .topic4{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic4 .big-text{
	position: absolute;
	font-size: 22px;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#content .line .topics .topic4 .small-text{
	position: absolute;
	display: block;
	width: 400px;
	right: 50%;
	transform: translateX(25%);
	opacity: 0;
	z-index: 1;
	right: 50%;
	transform: translateX(25%) translateY(70%);
	transition-duration: 500ms;
}
#content .line .topics .topic4:hover{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 200px;
	background-color: rgba(11, 36, 71, 1.0);
	border: solid 3px white;
	border-radius: 10px;
}
#content .line .topics .topic4:hover .small-text{
	position: absolute;
	display: block;
	opacity: 1;
	width: 400px;
	font-size: 16px;
    z-index: 100;
	background-color: rgba(25, 55, 109, 1.0);
	border: solid 3px white;
	border-radius: 10px;
	transition-duration: 500ms;
}
#content .line .katheryne{
	position: relative;
	z-index: 1;
	height: 800px;
	width: 800px;
	margin-top: 60px;
	background-image: url("../img/katheryne.png");
	background-size: 100%;
	left: 50%;
	transform: translateX(-50%);
	border: solid 10px whi;
	border-radius: 50px;
}
#content .line .katheryne .buttons{
	position: absolute;
	bottom: 50%;
	right: 20%;
	transform: translateX(25%) translateY(25%);
	font-size: 17px;
	color: white;
}
#content .line .katheryne .buttons .btn1{
	display: block;
	text-align: left;
	padding-left: 5px;
	display: block;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,35,70,1) 75%, rgba(11,36,71,0) 100%, rgba(0,212,255,1) 100%);
	height: 30px;
	width: 220px;
	border-left: solid 3px white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	cursor: pointer;
}
#content .line .katheryne .buttons .btn2{
	display: block;
	text-align: left;
	opacity: 0;
	padding-left: 5px;
	padding-top: 5px;
	display: block;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,35,70,1) 75%, rgba(11,36,71,0) 100%, rgba(0,212,255,1) 100%);	
	height: 30px;
	width: 220px;
	border-left: solid 3px white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	pointer-events: none;
	transition-duration: 400ms;
	cursor: pointer;
}
#content .line .katheryne .buttons .btn3{
	display: block;
	text-align: left;
	opacity: 0;
	padding-left: 5px;
	padding-top: 5px;
	display: block;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(11,35,70,1) 75%, rgba(11,36,71,0) 100%, rgba(0,212,255,1) 100%);	
	height: 30px;
	width: 220px;
	border-left: solid 3px white;
	border-top: solid 3px white;
	border-bottom: solid 3px white;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	pointer-events: none;
	transition-duration: 400ms;
	cursor: pointer; 
}
#content .line .katheryne .buttons .btn2.active{
	opacity: 1;
	pointer-events: auto;
	transition-duration: 400ms;
}
#content .line .katheryne .buttons .btn3.active{
	opacity: 1;
	pointer-events: auto;
	transition-duration: 400ms;
}
#footer1{
	background-color: rgba(25, 55, 109, 1.0);
	text-align: center;
}
#footer1 .block1{
	position: relative;
	padding-top: 15px;
	height: 120px;
	width: 820px;
	left: 50%;
	transform: translateX(-50%);
}
#footer1 .block1 .bttn1 {
	position: absolute;
	text-align: center;
	display: inline-block;
	left: 0;
	height: 100px;
	width: 400px;
	color: white;
}
#footer1 .block1 .bttn1 .img{
	display: inline-block;
	height: 100px;
	vertical-align: middle;
}
#footer1 .block1 .bttn1 .img img{
	height: 100%;
}
#footer1 .block1 .bttn1 .text{
	display: inline-block;
	vertical-align: middle;
}
#footer1 .block1 .bttn2{
	position: absolute;
	display: inline-block;
	right: 0;
	height: 22px;
	width: 140px;
	padding-left: 130px;
	padding-right: 130px;
	padding-top: 39px;
	padding-bottom: 39px;
	color: white;
	font-size: 15px;
}
#footer1 .block1 .bttn2 a{
	color: white;
}
#footer1 .block2{
	position: relative;
	height: 120px;
	width: 820px;
	padding-bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}
#footer1 .block2 .bttn3{
	height: 100px;
	width: 800px;
}
#footer1 .block2 .bttn3 .text{
	color: white;
	transform: translateY(70%);
	font-size: 30px;
}
#footer2{
	color: white;
	left: 0;
	right: 0;
	bottom: 0;
	height: 200px;
	background-color: rgba(11, 36, 71, 1.0);
	font-size: 17px;
}
#footer2 .block1{
	position: relative;
	height: 100px;
}
#footer2 .block1 .language{
	position: absolute;
	display: inline-block;
	height: 50px;
	padding: 25px;
	top: 50%;
	left: 0;
	transform: translateY(-40%);
	cursor: pointer;
}
#footer2 .block1 .text{
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
#footer2 .block1 .media{
	position: absolute;
	display: inline-block;
	height: 30px;
	padding: 37px;
	top: 50%;
	right: 0;
	height: 25px;
	transform: translateY(-50%);
}
#footer2 .block1 .media .img{
	display: inline-block;
	height: 30px;
}
#footer2 .block1 .media .img img{
	height: 100%;
}
#footer2 .block2{
	position: relative;
	height: 100px;
}
#footer2 .block2 .all-btn{
	position: absolute;
	text-align: center;
	left: 50%;
	bottom: 50%;
	transform: translateX(-50%) translateY(50%);
}
#footer2 .block2 .all-btn .btn{
	display: inline-block;
	transition-duration: 200ms;
}
#footer2 .block2 .all-btn .btn:hover{
	display: inline-block;
	padding: 5px;
	background-color: rgba(25, 55, 109, 1.0);
	border-radius: 5px;
	transition-duration: 200ms;
}