body{
	text-align: center;
}
.character{
	position: relative;
}
.for-img{
	height: 90px;
	width: 90px;
	display: inline-block;
	cursor: pointer;
}
.for-img .img{
	height: 100%;
	width: 100%;
	transition-duration: 200ms;
}
.for-img .img:hover{
	height: 100%;
	width: 100%;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	transition-duration: 200ms;
}
.all-characters{
	display: none;
}
.all-characters.active{
	display: block;
	position: absolute;
}
.plus{
	position: relative;
	height: 200px;
	width: 200px;
	left: 50%;
	transform: translateX(-50%);
	transition-duration: 200ms;
}
.plus:hover{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	transition-duration: 200ms;
}
.plus img{
	height: 100%;
	width: 100%;
	cursor: pointer;
}
.role{
	color: white;
	font-size: 40px;
	cursor: pointer;
	transition-duration: 200ms;
}
.role:hover{
	font-size: 40px;
	cursor: pointer;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 200ms;
}
.all-roles{
	display: none;
	color: white;
	font-size: 40px;
}
.all-roles.active{
	display: block;
}
.all-roles .dps{
	cursor: pointer;
	transition-duration: 200ms;
}
.all-roles .sub-dps{
	cursor: pointer;
	transition-duration: 200ms;
}
.all-roles .support{
	cursor: pointer;
	transition-duration: 200ms;
}
.all-roles .healer{
	cursor: pointer;
	transition-duration: 200ms;
}
.all-roles .dps:hover{
	cursor: pointer;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 200ms;
}
.all-roles .sub-dps:hover{
	cursor: pointer;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 200ms;
}
.all-roles .support:hover{
	cursor: pointer;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 200ms;
}
.all-roles .healer:hover{
	cursor: pointer;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	transition-duration: 200ms;
}