body{
	margin: 0;
	background-color: #871313;
	color: white;
	font-size: 200%;
	text-align: center;
}
#gallery{
	display: inline-block;
	position: relative;
	margin: auto ;
	max-width: 1280px;
}
#gallery .image-box{
	display: inline-block;
	position: relative;
	background-size: cover;
	background-position: 50%, 50%;
	height: 420px;
	width: 420px;
	box-shadow: 0 0 100px #000 inset;
	transition-duration: 200ms;
}
#gallery .image-box:hover{
	box-shadow: 0 0 0px #000 inset;
}
#gallery .image-box.img1{
	background-image: url("img/0.png");
}
#gallery .image-box.img2{
	background-image: url("img/1.jpg");
}
#gallery .image-box.img3{
	background-image: url("img/2.jpg");
}
#gallery .image-box.img4{
	background-image: url("img/3.jpg");
}
#gallery .image-box.img5{
	background-image: url("img/4.jpg");
}
#gallery .image-box.img1::after{
	content: "Mini-game SUMO";
}
#gallery .image-box.img2::after{
	content: "Simon missions";
}
#gallery .image-box.img3::after{
	content: "Premium transport missions";
}
#gallery .image-box.img4::after{
	content: "Missions with Franklin and Lamar";
}
#gallery .image-box.img5::after{
	content: "Lester heists";
}
#gallery .image-box::after{
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	padding: 10px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #222;
	color: #fff;
	font-size: 20PX;
	text-align: center;
	transform: translateY(-50%) scaleY(0);
	transition-duration: 200ms;
	z-index: 1;
}
#gallery .image-box:hover::after{
	transform: translateY(0) scaleY(1);
}